body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#e5e7eb;
}

.resume{
    display:flex;
    max-width:1100px;
    margin:30px auto;
    background:#ffffff;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* LEFT */
.left{
    width:30%;
    background:#1e293b;
    color:#ffffff;
    padding:25px;
}

.left img{
    width:120px;
    height:120px;
    border-radius:50%;
    display:block;
    margin:0 auto 15px;
}

.left h1{
    text-align:center;
    margin:10px 0;
}

.role{
    text-align:center;
    font-size:14px;
    color:#cbd5f5;
}

.left h3{
    margin-top:25px;
    border-bottom:1px solid #475569;
    padding-bottom:5px;
}

.left p, .left li{
    font-size:14px;
    line-height:1.6;
}

/* RIGHT */
.right{
    width:70%;
    padding:30px;
}

.right section{
    margin-bottom:30px;
}

.right h2{
    color:#1e293b;
    border-bottom:2px solid #2563eb;
    padding-bottom:5px;
}

.right p, .right li{
    font-size:15px;
    line-height:1.6;
}

button{
    background:#2563eb;
    color:#fff;
    border:none;
    padding:8px 14px;
    border-radius:4px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}
